.custom-btn {
    width: 180px;
    font-size: 20px;
    font-weight: bold;
}

.btn-play {
    background-color: #9b59b6;
    font-size: 18px;
    color: white;
    border: none;
}

.hot {
    background-color: #dc3545;
    color: white;
}

.date {
    background-color: #ffc107;
    color: black;
}

.party {
    background-color: #0dcaf0;
    color: black;
}


